a{text-decoration:none;color:#000;}
div{text-align:center;font-size:12px;color:#666;}

.header{width:100%;height:129px;background:#c90000 url(image/css/header_bg.png) center repeat-y;position:relative;z-index:3000;}
.hearder_c{width:990px;height:129px;margin:0px auto;position:relative;z-index:3000;}
.logo{display:block;height:129px;width:184px;float:left;background:url("../image/logo2.png") 0px 4px no-repeat;top:4px;}
.main_search_top_w{height:129px;width:430px;float:left;margin-left:68px;display:inline;position:relative;z-index:1000;}
#search{width:410px;height:40px;float:left;border:2px solid #fff;margin-top:46px;border-bottom-left-radius:5px;border-top-left-radius:5px;border-bottom-right-radius:5px;border-top-right-radius:5px;background-color: #fff;}
.search1{height:36px;width:326px;padding:8px;margin-top:2px;float:left;margin-left:2px;border:none;}
.submit{height:42px;width:80px;border: none;line-height:32px;border:2px solid #fff;border-left:0px;color:#fff;background:#a8000f;font-size:14px;border-bottom-left-radius:5px;border-top-left-radius:5px;border-bottom-right-radius:5px;border-top-right-radius:5px;float:right;}
.loginitem_h{height:129px;float:right;display:inline-block;vertical-align:top;}
.loginitem_h a.link{display:block;height:28px;line-height:28px;float:right;margin-right:0px;color:#fff;font-size:12px;margin-top:50px;padding:0px 10px;border-radius:4px;}
.loginitem_h a.header_qqlogin{padding-left:34px;background:url("images/topdsflogin_icon.gif") 3px -28px no-repeat;}
.loginitem_h a.header_wblogin{padding-left:34px;background:url("images/topdsflogin_icon.gif") 3px 0px no-repeat;}



.main_w{width:100%; position:relative;z-index:500;border:1px solid #ccc;background-color:#fae8c8;}
.nav{width:100%;height:76px;background:#fff;box-shadow:10px 0px 10px rgba(0,0,0,0.3);position:relative;z-index:2000;border:1px solid #ccc;}
.nav ul li{display:inline-block;vertical-align:top;height:76px;}
.nav ul li a.link{display:inline-block;vertical-align: top;padding:0px 26px;height:76px;line-height:76px;font-size:19px;color:#444;font-family:Microsoft Yahei,黑体;font-weight:bold;}
.nav ul li.current a strong{border-bottom:4px solid #ff3232;height:72px;overflow:hidden;}
.nav ul li a.link strong{font-weight:bold;display:inline-block;vertical-align: top;height:76px;}
.nav ul li.hasmore{background: url("images/msj_menuarrow.gif") right center no-repeat;}
li:hover{background:#fafafa;}
.main{width:990px;margin:0px auto;}
.clearfix{zoom:1;}
.index_zzw{width:990px;height:382px;margin:0px auto;position:relative;margin-top:120px;}
.index_zzw_main{width:5000px;position:absolute;height:330px;left:1980px;}
.zzw_item{left:1980px;height:330px;position:absolute;}
.zzw_item_3{left:1980px;top:0px;}
.bbtitles{height:120px;line-height:120px;font-size:24px;color:#222;text-align:center;font-family:Microsoft Yahei;position:relative;display:block;}
.bbtitles_zzw{display:block;position:absolute;top:-120px;width:990px;z-index:200;display:none;}
.zzw_item ul li{float:left;width:330px;height:330px;overflow:hidden;position:relative;}
.zzw_item ul li a.img{display:block;height:330px;width:330px;}
.zzw_item ul li a.img img{display:block;height:330px;width:330px;}
.zzw_item ul li div.c{position:absolute;height:78px;width:330px;background:url("images/white80.png") repeat;left:0px;bottom:0px;}
.zzw_item ul li div.c h2{height:36px;line-height:36px;padding-top:12px;text-indent:20px;}
.zzw_item ul li div.c h2 a{color:#333;font-size:24px;font-family:Microsoft Yahei;}
.zzw_item ul li div.c strong{line-height:18px;color:#666;padding-left:20px;}
.zzw_item ul li div.c span{display:inline-block;vertical-align:top;height:30px;line-height:30px;padding:0px 14px;color:#fff;background:#60a531;top:-6px;right:10px;position:absolute;}
.zzw_item ul li div.c span a{color:#fff;}
.zzw_item ul li div.c span em{position:absolute;height:6px;top:0px;right:-6px;display:block;width:6px;overflow:hidden;background:url("images/gxarrow1.png") 0px 0px no-repeat;}
.clearfix:after{content:"";display:block;height:0;clear:both;}
.maskleft{width:990px;height:330px;position:absolute;left:-990px;top:0px;display:block;background:#fff;opacity:0.7;z-index:100;}
.maskright{width:990px;height:330px;position:absolute;left:990px;top:0px;display:block;background:#fff;opacity:0.7;z-index:100;}
.prev_btn_1{background-position:0px 6px;}
.prev_btn{display:block;width:173px;height:73px;position:absolute;left:-60px;background: url("iamges/zzw_bg.png") no-repeat;top:128px;z-index:500;}
.index_3meal_tab{width:100%;height:52px;position:absolute;left:0px;top:330px;margin-top:120px;}
.index_3meal_tab span.time{display:block;height:48px;width:60px;position:absolute;top:4px;font-size:18px;color:#aaa;font-family:arial;line-height:48px;}
.index_3meal_tab span.time4{left:154px;}
.index_3meal_tab span.time10{left:350px;}
.index_3meal_tab span.time14{left:548px;}
.index_3meal_tab span.time16{left:744px;}
.index_3meal_tab span.time21{left:944px;}
.index_3meal_tab span.time4_{left:1144px;}
.index_3meal_tab_w{width:990px;height:52px;margin:0px auto;position:relative;background: url("images/kedulong.gif") 0px 0px repeat-x;overflow:hidden;background-color: #fff;float: left;}
.timex_current{border-top:4px solid #ff6363;color:#ff6363;background:#f9f9f9 url("images/kedulong.gif") 0px -4px no-repeat;font-weight:bold;}
.timex{float:left;width:198px;display:block;height:48px;line-height:48px;color:#999;font-size:14px;text-align:center;border-top:4px solid #aaa;position:relative;background:none;}
.timex span{display:none;font-size:14px;}
.timex_current span{display:block;}
.timeline_left{width:180px;float:left; height:48px;border-top:4px solid #aaa;background:#fff url("images/kedulong.gif") right -4px repeat-x;}
.timeline_right{width:179px;float:left; height:48px;border-top:4px solid #aaa;background: url("images/kedulong.gif")repeat-x;background-color:#fff; }
#index_timelinebox{background-color: #fff;}
.bbtitles span.paixu{line-height:48px;display:block;height:48px;font-size:10px;font-family:宋体;color:#666;float:right;margin-top:36px;}
.bbtitles span.paixu a{color:#666;}
.bbtitles span.paixu a:hover{color:#c90000;text-decoration:underline;}
.bbtitles a{color:#222;display:inline-block;vertical-align:top;}
.ztlist_style1{width:988px;margin:0px auto;position:relative;}
#index_cd_leftarrow{position:absolute;left:-130px;top:234px;height:130px;width:130px;background:url("images/index_arrow.gif") 0px 0px no-repeat;z-index:500;cursor:pointer;}
#index_cd_leftarrow_mask{position:absolute;left:-130px;top:234px;height:130px;width:130px;background:url("images/blank.gif")0px 0px repeat;display:none;z-index: 1000;}
#index_cd_rightarrow{position:absolute;right:-130px;top:234px;height:130px;width:130px;background:url("images/index_arrow.gif") 0px -130px no-repeat;z-index:500;cursor:pointer;}
#index_cd_rightarrow_mask{position:absolute;right:-130px;top:234px;height:130px;width:130px;background:url("images/blank.gif")0px 0px repeat;display:none;z-index: 1000;}
.ztlist_style1_item_w{width:988px;height:596px;overflow:hidden;}
.ztlist_style1_item_ww{height:596px;width:5000px;overflow:hidden;margin-left:988px;}
.ztlist_style1_item_w1{width:988px;height:596px;overflow:hidden;float:left;}
.ztlist_style1_item{width:316px;margin-right:20px;background:#fff;float:left;overflow:hidden;margin-bottom:20px;}
.ztlist_style1_item_list li{position:relative;overflow:hidden;}
.ztlist_style1_item_list li.current .topzt{display:block;overflow:hidden;}
.ztlist_style1_item_list li .topzt{display:none;}
.topzt a.img{display:block;height:210px;width:316px;position:relative;}
.topzt a.img img{display:block;height:210px;width:316px;}
.topzt a.img span.fixer{display:block;height:10px;width:316px;position:absolute;bottom:0px;left:0px;background:url("images/ztfixer.gif")0px 0px no-repeat;overflow:hidden;}
.topzt div.c{position:relative;background:#fff;padding-bottom:10px;}
.topzt div.c strong.title{font-size:24px;height:42px;line-height:42px;text-indent:20px;font-family:Microsoft Yahei;border:0px;}
.ztlist_style1_item strong.title{font-size:14px;color:#333;height:50px;line-height:50px;border-bottom:1px solid #ddd;text-indent:20px;display:block;}



.main_footer{width:100%;background:url("images/black75.png")repeat;padding-bottom:60px;margin-top:40px;border:1px solid #ccc;}







