div{text-align:center;font-size:12px;color:#666;}
a{text-decoration: none;}

body{background-color:#ededef;}
#yy_header{background:#ff6599;height:50px;left:0;position:fixed;top:0;width:100%;z-index:2000;}
.Logo{display:block;float:left;height:31px;width:167px;background-image:url("images/logo.png"); margin:8px 0 0 0;}
#caidan{float: left;height: 50px;position:relative;width:480px;padding-left:20px;}
.yy_nav{margin:0 auto;width:980px;}
.yy_nav ul li{float:left;height:50px;position:relative;width:96px;text-align: left;}
.yy_nav ul li a:hover{background:#ee3a79;}
.yy_nav ul li a{color:#FFF; display:block;font-size: 14px;font-weight:bold;height: 50px;line-height: 50px;width:96px;text-decoration: none;float: right;}
.yy_nav ul li a span{background:url("images/icons.png");display:inline;float:left;height:22px;width:22px;}
.yy_nav ul li .caidan-top1{background:#ee3a79;}
.yy_nav ul li .caidan-top1 span{margin:13px 6px 0 20px;}
.yy_nav ul li .caidan-top2 span{background-position:0 -32px; margin:14px 5px 0 22px;}
.yy_nav ul li .caidan-top3 span{background-position:0 -89px;margin:14px 5px 0 22px;}
.yy_nav ul li .caidan-top4 span{background-position:0 -154px;margin:14px 5px 0 22px;}
.yy_nav ul li .caidan-top5 span{background-position:0 -63px;margin:18px 5px 0 19px;}


.reg_login{float: right;height: 50px;line-height: 50px;width: 260px;}
.reg_login a{color:#FFF;float:right;margin:0 0 0 8px;text-decoration: none;}


#play{width:980px;height:350px;margin:60px auto 0;position:relative;}
.pocket{width:653px;height:350px;float:left;position:relative;border:1px solid #ccc;}
#flash{width:650px;height:350px;float:left;position:relative;background-image:url("images/adBig1.jpg");}
#controlA{width:80px;height:30px;position:relative;top:320px;left:560px;}
.flashControl{width:8px;height:8px;display:block;float:left;margin:0 16px 0 0;background-color:#fff;}
.currentSpan{background-color:#fe80a6;}

.yy_login{width:320px;height:350px;background:#fff;float:right;}
.yy_login_info{width:320px;height:350px;}
.yy_enroll ul{width:320px;}
.yy_enroll ul li.a_out{color:#ff6599;background: #FFF;}
.yy_enroll ul li{width:160px;height:38px;line-height:38px;text-align:center;display: block;font-family:"微软雅黑";font-size:14px;background: #F5F5F5;float: left;}
.yy_enroll ol{width:320px;}
.yy_enroll ol li{width:320px;height:24px;line-height:24px;margin:12px 0 0 0;float:left;}
.yy_enroll ol li label{width:90px;float:left;text-align:right;color:#777;}
.yy_enroll ol li span{width:104px;float:left;}
.yy_enroll ol li span input{float:left;margin:5px 5px 0 0;}
.yy_enroll ol li span{width:104px;float:left;}
.yy_enroll ol li span label{width:auto;}
.yy_enroll ol li .inpt{width:190px;height:24px;border:1px solid #dfdfdf;line-height:22px;padding: 0 0 0 8px;color:#ccc;float: left;}
.yy_enroll ol li .inpt:hover{width:190px;height:24px;border:2px solid #ff7ca6;line-height:22px;padding: 0 0 0 8px;}
.yy_enroll ol li .sex{width:55px;}
.yy_enroll ol li font{color:#f60;}
#choseAge{float:left;color:#959595;}
.yy_enroll ol .ljzc{height:40px;}
.yy_enroll ol .ljzc a{ display: block; width:270px;height: 42px;line-height: 42px;font-size:16px;text-align:center;color:#fff;margin:0 auto;background: #ff7ea7;font-weight: bold;font-family: "微软雅黑";text-decoration: none;}
.yy_enroll ol .ljzc a:hover{background-color:#ee3a79; }
.yy_enroll ol .qq_login a.home_icon{display: block;width:92px;height: 18px;margin: 4px 4px 0 0;margin-top:12px;margin-left:36px;margin-right:32px;}
.yy_enroll ol li.qq_login .wb{float:left;background: url("images/home_icon.png");background-position:0 -115px;background-repeat: no-repeat;}
.yy_enroll ol li.qq_login .wb:hover{float:left;background:url("images/home_icon.png");background-position:-99 -115px;background-repeat: no-repeat;}
.yy_enroll ol li.qq_login .qq{float:right; background: url("images/home_icon.png");background-position:0 -137px;background-repeat: no-repeat;}
.yy_enroll ol li.qq_login .qq:hover{float:right; background: url("images/home_icon.png");background-position:-99px -137px;background-repeat: no-repeat;}



.yy_list{width:980px;height:374px; margin:10px auto 0;background:#FFF;}
#yy_list_title{display:block;height: 50px;line-height:50px;color: #5d5d5d;font-size:18px;margin:0 0 0 24px;font-family:"微软雅黑";font-weight:normal;}
#yy_list_title span{display:block;height: 50px;line-height:50px;color:#5d5d5d;font-size:18px;float: left; font-family:"微软雅黑";font-weight:normal; }


.refer{width:980px;}
.li_01{position: relative;float: left;}

.li_02{width:324px;height:324px;position:relative;float: left;display: block;}
.yy_list .refer li{float:left;margin: 0 3px 0 0;}
.show_box2_01{width:324px;height:30px;position:absolute;left:0;bottom:164px;background:rgba(0,0,0,0.6);}
.show_box2_01 font{margin:8px 0 0 16px;color:#fff; float: left;}
.show_box2_02{width:324px;height:30px;line-height:30px;background:rgba(0,0,0,0.6);position:absolute;left: 0;bottom: 0;}
.show_box2_02 font{margin:-4px 0 0 16px;color:#fff; float: left;}
.show_box{width:327px;height:30px;line-height:30px;background:rgba(0,0,0,0.6);position: absolute;left: 0;bottom: 0;}
.show_box font{float: left; color: #fff;margin:0 0 0 16px;}
.yy_list .refer .li_03{position:relative;width:160px;height:324px;}
.yy_list .refer li{float:left;margin:0 3px 0 0;}
.yy_list .refer .li_03 .show_box3_01{position:absolute;left:0;bottom:164px;}
.yy_list .refer .show_box3_01{width:160px;height:30px;line-height:30px;background:rgba(0,0,0,0.6);position:absolute;left:0;bottom:0;}
.yy_list .refer .show_box3_02{width:160px;height:30px;line-height:30px;background:rgba(0,0,0,0.6);position:absolute;left:0;bottom:0;}
.ziti{font-family:"宋体";font-size:10px;line-height:50px;float: left; color:#fff;}
.yy_list .refer .li_04{margin-right:0;position:relative;width:160px;height:324px;}
.yy_list .refer li{float:left;margin:0 3px 0 0;}
.yy_list .refer .li_04 .box .first a{display:block;width:80px;height:40px;line-height:40px;float:left;background:#ffa3c2;text-align:center;color:#fff;text-decoration: none;}
.yy_list .refer .li_04 .box .first a.other{background:#ff89b1;}
.yy_list .refer .li_04 .box .first .c1:hover{background:#ff89b1;}
.yy_list .refer .li_04 .box .first .c2:hover{background:#f65e8f;}
.yy_list .refer .li_04 .box .last a{display:block;width:160px;height:160px;padding:4px 0 0;clear:both;}
.yy_list .refer .show_box4_02{width:160px;height:30px;line-height:30px;background:rgba(0,0,0,0.6);position:absolute;left: 0;bottom: 0;}
.yy_list .refer .show_box4_02 font{float:left; margin:0 0 0 16px;color:#fff;}


.yy_content{width:980px;height:906px; margin:10px auto 0;}
.yy_search{width:652px;height:636px;background:#fff;float:left;color:#959595; }
.yy_content .adress{background: url("images/search.jpg");background-position:30px 20px;background-repeat:no-repeat;padding:16px 0 0 52px;height: 40px;width: auto;border-bottom:1px solid #efefef;}
.search_sub{width:672px;height:48px;line-height:50px;background:url("search_sub,jpg");background-repeat:repeat-x;border-bottom:1px solid #c9cacc;}
.search_sub label{height:24px;line-height:24px;margin:0 10px;float:left;}
.adress label{float:left;height:24px;line-height:24px;}
.search_sub select{width:78px;margin:3px 0 0 0;float: left;}
.yy_content .adress .search_btn{background:none repeat scroll 0 0 #ff83ad;border:1px solid #ff76a4;border-radius:5px;color:#fff;float: left;height:20px;line-height:20px;margin:0 0 0 14px;padding: 0;text-align: center;width: 40px;}
.search_sub a{width:78px;height:24px;line-height:24px;text-align:center;color:#fff;display:block;float: right;line-height:24px;border:1px solid #4d97ef;background: #62a9fe;margin: 12px 24px 0 0;text-decoration: none;}
.yy_content .adress .color{color:#959595;}
.search_list{width:306px;height:138px;margin:20px 0 25px 20px;float:left;display:inline;}
.search_list p{width:112px;height:138px;float:left;display:inline;}
.search_list dl{width:160px;float:left;margin:9px 0 0 20px;}
.search_list dl dt{width:24px;font-size:12px;color:#6d6d6d;margin:0 0 10px 0;}
.search_list dl dt a{text-decoration: none;color:#969696;}
.search_list dl dd{height:22px;line-height:22px;color:#969696;float: left;}
.search_list dl dd a{width:98px;height:32px;line-height:32px;display:block;background:url("images/home_icon.png");background-repeat: no-repeat;text-align:center;color: #fff;margin:26px 0 0 0;float: left;}
.search_list dl dd a:hover{background-position: -104px 0;}
.yy_search .more{width:645px;height:54px;}
.yy_search .more a{color:#ff7ca8;float:right;text-decoration: none;}



.yy_city{width:322px;height:636px;background:#fff;float:right;border:1px solid #ccc;}
.yy_city h2{height:44px;line-height:44px;font-size:18px;font-family:"微软雅黑";padding:0 0 0 68px;background:url("../image/time.jpg") 30px 12px;background-repeat:no-repeat;color:#4e4e4e;font-weight:normal;float: left;}
.city_box{width:298px;height:592px;overflow: hidden;position:relative;}
.city_list_info{width:256px;height:46px;background:#f3f3f5;border-radius:22px;margin:0 0 28px 18px;cursor:pointer;}
.city_list_info p{width:56px;height:56px;border-radius:56px;display:inline;float:left;position:relative;}
.city_list_info p img{border-radius:56px;position:absolute;left:0;top:-5px;padding-top:5px;}
.city_list_info dl{width:165px;float:left;margin:0 0 0 10px;text-align:left;}
.city_list_info:hover{background-color:#ccc;}
.city_list_info dl dt{width:180px;margin:5px 0 3px;overflow:hidden;}
.city_list_info dl dt a{font-size:14px;color:#fd84ad;}
.city_list_info dl dt span{font-size:14px;margin:0 0 0 10px;}


.searchlove{width:186px;height:182px;float:left;display:inline;margin:20px 0 0 28px;border:1px solid #ccc;}
.yy_love{width:652px;height:260px;float:left;margin:10px 0 0 0;background:#fff;}
.yy_love h2{width:652px;height:42px;line-height:42px;background:#eaeaea;font-weight:normal;}
.yy_love h2 span{color:#333;margin: 0 0 0 20px;font-size:14px;float:left;}
.yy_love h2 a{float:right;font-weight:normal;color:#999;line-height:normal;margin:12px 10px 0 0;font-size: 12px;text-decoration: none;}
.yy_love p.love_p01{margin:20px 0 0 20px;}
.yy_love p{width:186px;height:182px;float: left;display: inline;margin:20px 0 0 30px;}
.yy_love p a img{margin:0 0 10px 0;}
.yy_love font span{width:390px;height:12px;line-height:18px;display:block;width:186px;height:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;font-size:12px;font-family:"宋体";margin:0 0 4px 0;}
span.black{color:#4d4d4d;display:block;float:left;font-size:12px;font-family:"宋体";width:150px;height:18px;text-align: left;}
.promise{float:right;color:#ff7da9;margin:10px 0 0;}
.promise span{font-family:"宋体";font-size:12px;}




.yy_media{width:322px;height:260px;background:#fff;float:right;margin:10px 0 0 0;}
.yy_media h2{width:322px;height:42px;line-height:42px;font-weight:normal;font-size:18px;background:#eaeaea;}
.yy_media h2 span{color:#333;margin:0 0 0 20px;font-size:14px;float:left;}
.yy_media h2 a{float:right;font-weight:normal;color:#999;line-height:normal;margin:12px 10px 0 0;font-size:12px;font-family: "宋体";text-decoration:none;}
.yy_media dl{margin:24px 0 0 18px;overflow:hidden;}
.yy_media dl dt{width:70px;height:70px;float:left;margin:0 12px 0 0;}
.yy_media dl dd{width:184px;float:left;line-height:22px;}
.yy_media dl dd a{text-decoration:none;color:#959595;font-size:12px;font-family: "宋体";}
.yy_media dl dd .blod{font-weight:bold;font-size:14px;color:#4e4e4e;float:left;}
.yy_media ul{overflow:hidden; margin:16px 0 0 7px;clear:both;}
.yy_media ul li{margin:0 0 0 10px;line-height:22px;background:url("images/red_trg (1).png") left  no-repeat;padding:0 0 0 12px;float: left;}
.yy_media ul li a{text-decoration:none;color:#959595;font-size:12px;font-family: "宋体";}


.yy_link{width:980px;margin:10px auto 0;background:#fff;overflow:hidden; border:1px solid #ccc;}
.yy_link .yy_city_link{width:978px;padding:11px 0 15px 4px;overflow:hidden;border-bottom:1px solid #c9cacc;}
.yy_link .yy_city_link a{width:96px;text-align:center;float:left;margin:8px 0 0 0;border-right:1px solid #ccc;color:#999;}
.yy_link .yy_city_link .no_bor{border:0;}
.yy_link .yy_city_link .more{color:#ff7da9;}
.yy_suggest{line-height:23px;color:#999;padding:15px 20px;overflow:hidden;border-bottom:1px solid #c9cacc;text-align: left;}
.yy_link_info{width:958px;padding:10px 0 15px 20px;overflow:hidden;}
.yy_link_info span{float:left;margin:5px 10px 0 0;font-weight:bold;color:#6d6d6d;}
.yy_link_info a{color:#999;float: left;margin:5px 21px 0 0;white-space:nowrap;}
.yy_link_info p{width:980px;text-align: center;color:#999;padding:18px 0 0 0;}


.yy_footer{width:100%;height:208px;background:#ededef;margin:20px 0 0 0;border-top:1px solid #dbdcde;}
.yy_footer_info{width:980;margin:0 auto;position:relative;}
.yy_footer_info ol{margin:0 auto;overflow:hidden;text-align: center;padding:20px 0 0 138px;}
.yy_footer_info ol li{float: left;}
.yy_footer_info ol li a{border-right:1px solid #999;color:#999;padding:0 14px;float:left;}
.yy_footer_info ol li .last{border:0;}
.yy_footer_info p{width:980px;text-align: center;color:#999;padding:18px 0 0 0;}
.yy_footer_info p a{margin:0 0 0 10px;color:#999;}